# Mac OS X
.DS_Store

# Git
git-m

# Xcode

## Build generated
build/
DerivedData
Products

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
# CocoaPods
**/*.xcworkspace/
Pods/
Podfile.lock

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Package.resolved

# Carthage
Carthage/Build

# build
publish/build
publish/out
output

